/**
 * ----------------------
 * Un.titled
 * Molecules - Entities
 * ----------------------
 */

.m-entity {
  margin: $bump * 1.5 0;

  img {
    width: 100%;
    height: auto;
  }

  @import "entity--body";
  @import "entity--view";
  @import "entity--quote";
  @import "entity--accordion";
  @import "entity--linked-logos";
}
