#search-form {
  display: none;
  visibility: hidden;
}

.m-search-results {
  margin-bottom: $bump * 2;

  ol {
    @include li-reset;

    li {
      position: relative;
      margin-bottom: $bump;
    }
  }
}
