/**
 * ----------------------
 * Un.titled
 * Config - Font
 * ----------------------
 */

/**
 * Config
 */
$font-dir: '../font';

@font-face {
  font-family: 'Cheltenham';
  src: url('#{$font-dir}/font.woff2') format('woff2'), url('#{$font-dir}/font.woff') format('woff');
  font-weight: $weight-regular;
  font-style: normal;
}

@font-face {
  font-family: 'Cheltenham';
  src: url('#{$font-dir}/font-italic.woff2') format('woff2'), url('#{$font-dir}/font-italic.woff') format('woff');
  font-weight: $weight-regular;
  font-style: italic;
}
