{%
	set classes = [
		'entity',
		'entity__' ~ bundle|clean_class,
		'clearfix'
	]
%}

<section{{ attributes.addClass(classes) }}>

	{% block content %}

		{% include '@pippip/partials/content-toolkit-title.html.twig' %}

		{{ entity }}

	{% endblock %}

</section>