{% extends "eck-entity--extra-content.html.twig" %}

{% block content %}

	{% if not entity.field_display_title.0['#markup'] == null %}
		<h2>{{ entity.title }}</h2>
	{% endif %}

	{{ entity.field_files }}

{% endblock %}