/**
 * ----------------------
 * Un.titled
 * Atoms - Nav Toggle
 * ----------------------
 */

.nav__toggle {
  @include rm-text;
  display: none;
  position: relative;
  height: $bump;
  width: $bump;
  z-index: 10;
  transition: all 0.2s $easing;

  span,
  span::before,
  span::after {
    text-align: center;
    cursor: pointer;
    border-radius: 0px;
    height: 2px;
    width: $bump/1.25;
    background-color: $text;
    position: absolute;
    display: block;
    content: "";
    transition: all 0.2s $easing;
  }

  span {
    left: 3px;
    top: $bump/2;

    &::before {
      top: -8px;
    }
    &::after {
      bottom: -8px;
    }
  }

  &:hover {
    span,
    span::before,
    span::after {
      background-color: $text;
    }
  }

  @include media("<=sm") {
    display: block;
  }

  .nav-open & {
    span {
      background-color: #fff;

      &::before,
      &::after {
        top: 0;
        background-color: $text;
      }
      &::before {
        transform: rotate(45deg);
      }
      &::after {
        transform: rotate(-45deg);
      }
    }
    &:hover {
      span {
        background-color: #fff;
      }
    }
  }
}
