// Menus
.nav {
    ul {
        @include li-reset;

        @include media("<=sm") {
            display: none;
        }
    }

    &__toggle {
        @include rm-text;
        display: none;
        position: relative;
        height: $bump;
        width: $bump;
        z-index: 10;
        transition: all 0.2s $easing;

        span,
        span:before,
        span:after {
            text-align: center;
            cursor: pointer;
            border-radius: 0px;
            height: 2px;
            width: $bump/1.25;
            background: $text;
            position: absolute;
            display: block;
            content: "";
            border-radius: 2px;
            transition: all 0.2s $easing;
        }

        span {
            left: 3px;
            top: $bump/2;

            &:before {
                top: -8px;
            }
            &:after {
                bottom: -8px;
            }
        }

        &:hover {
            span,
            span:before,
            span:after {
                background: $text;
            }
        }

        @include media("<=sm") {
            display: block;
        }
    }
}

.nav-open {
    .nav {
        display: block;

        &__toggle {
            span {
                background-color: transparent;
                background: #fff;

                &:before,
                &:after {
                    top: 0;
                    background: $text;
                }
                &:before {
                    transform: rotate(45deg);
                }
                &:after {
                    transform: rotate(-45deg);
                }
            }
            &:hover {
                span {
                    background: #fff;
                }
            }
        }
    }
}
