/**
 * ----------------------
 * Un.titled
 * Base - Main
 * ----------------------
 */

/**
 * Styles
 */
html {
  font-size: $font-base-size;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  @include font-smoothing(true);
  display: flex;
  flex-direction: column;
  @include h5;
  @include body-defaults;
}
