/**
 * ----------------------
 * Un.titled
 * Base - Typography
 * ----------------------
 */

/**
 * Config
 */
@mixin heading-defaults() {
  font-weight: $weight-bold;
  letter-spacing: $kern-display;
  font-family: $font-display;
}

@mixin body-defaults() {
  font-family: $font-body;
  font-weight: $weight-regular;
  letter-spacing: $kern-body;
}

@mixin h1 {
  @include respond(39.063px, 109.656px, font-size);
  @include respond(49.063px, 119.656px, line-height);
}

@mixin h2 {
  @include respond(31.25px, 67.773px, font-size);
  @include respond(41.25px, 77.773px, line-height);
}

@mixin h3 {
  @include respond(25px, 41.887px, font-size);
  @include respond(35px, 51.887px, line-height);
}

@mixin h4 {
  @include respond(20px, 25.888px, font-size);
  @include respond(30px, 35.888px, line-height);
}

@mixin h5 {
  @include respond(16px, 18px, font-size);
  @include respond(26px, 28px, line-height);
}

/**
 * Heading
 */
@for $i from 1 through 6 {
  h#{$i} {
    @include heading-defaults();
  }
}

h1 {
  @include h1;
}

h2 {
  @include h2;
}

h3 {
  @include h3;
}

h4 {
  @include h4;
}

h5,
h6 {
  @include h5;
}

/**
 * Paragraphs
 */
p {
  margin: 1.5em 0;

  &:first-of-type {
    margin-top: 0;
  }
}

/**
 * Lists
 */
ul,
ol {
  margin: 1.5rem 0;
  list-style-position: inside;
  padding-left: 0;
}

/**
 * Links
 */
a {
  color: inherit;
  font-weight: inherit;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    text-decoration: underline;
  }

  &:focus {
    outline: 3px dashed currentColor;

    @include focus-visible() {
      outline: 0;
    }
  }

  &.no-click {
    pointer-events: none;
    cursor: default;
  }
}

::selection {
  background-color: $color-secondary;
  color: $color-primary;
}

/**
 * Buttons
 */
button {
  &:focus {
    outline: 3px dashed currentColor;

    @include focus-visible() {
      outline: 0;
    }
  }
}

/**
 * Inline
 */
strong {
  font-weight: $weight-bold;
}

em {
  font-style: italic;
}

span {
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  font-size: inherit;
}

address {
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  font-size: inherit;
  font-style: normal;
}

small {
  font-size: 90%;
}

/**
 * Quote
 */
blockquote {
  margin: 1.5em 0;

  p {
    margin: 0;
    font-style: italic;
    @include h3;

    &::before {
      content: '\201C';
    }

    &::after {
      content: '\201D';
    }
  }

  footer {
    margin-top: 1.5em;
  }

  cite {
    font-style: normal;
    font-weight: $weight-bold;
  }
}

hr {
  border: solid $color-primary;
  border-width: 0 0 3px 0;
  margin: 1.5rem 0;
}
