// --------------------------------
//					   		 STYLES
// --------------------------------
.grid-main {
    padding: 0;
    min-width: 100%;

    & > [class*="col-"] {
        padding: 0;
    }
}
section {
    padding: $bump * 2 $bump;
    background: #f0f0f0;

    &:nth-of-type(odd) {
        background: #a7a7a7;
    }

    @include media("<=sm") {
        padding: $bump/3;
    }

    &.nav {
        background: white;
        display: none;
    }
}

.nav {
    a {
        padding: $bump/2;
        color: $text;
        &:hover {
            color: red;
        }
    }
}

.gallery {
    @include li-reset;
    li a {
        background: white;
        padding: $bump/2;
        margin: 0 2%;
        display: block;

        img {
            width: 100%;
            height: auto;
        }
    }
}

.carousel-cell {
    padding: $bump;
    display: block;
    width: 100%;
}

.teaser {
    background: #fff;
    padding: $bump;
}
