// --------------------------------
//					   		 STYLES
// --------------------------------

body {
    text-align: center;
}

h1 {
    margin: $bump * 3 auto $bump * 2;
}

section {
    padding: $bump * 2 $bump;
    background: #f0f0f0;

    &:nth-of-type(odd) {
        background: #a7a7a7;
    }

    &.nav {
        background: white;
        display: none;
    }
}

.nav {
    a {
        padding: $bump/2;
        color: $text;
        &:hover {
            color: red;
        }
    }
}

.gallery {
    @include li-reset;
    li a {
        background: white;
        padding: $bump/2;
        margin: 0 2%;
        display: block;

        img {
            width: 100%;
            height: auto;
        }
    }
}

.carousel-cell {
    padding: $bump;
    display: block;
    width: 100%;
}

.teaser {
    background: #fff;
    padding: $bump;
}

[data-mh] {
    height: 100%;
}
