/* --- Media queries --- */

//	USAGE:
//
//	@include media(">xs", "<=1150px") {
//		font-size:4.0rem;
//	}
//
//	@include media("<lg") {
//		width:100%;
//	}

// NOTE: These breakpoints coincide with those built in to Reflexgrid
$breakpoints: (
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1200px,
  xlg: 1600px
);
