// --------------------------------
//					      VARIABLES
// --------------------------------

$text: #000000;
$bg: #fff;

// padding used in foundation
$bump: 30px;

$easing: cubic-bezier(0.3, 0.65, 0.72, 0.63);
